@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Geist+Mono:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: oklch(1.00 0 0);
    --foreground: oklch(0.14 0.00 285.86);
    --card: oklch(1.00 0 0);
    --card-foreground: oklch(0.14 0.00 285.86);
    --popover: oklch(1.00 0 0);
    --popover-foreground: oklch(0.14 0.00 285.86);
    --primary: oklch(0.21 0.01 285.93);
    --primary-foreground: oklch(0.99 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.21 0.01 285.93);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.55 0.02 285.93);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.21 0.01 285.93);
    --destructive: oklch(0.58 0.24 28.48);
    --border: oklch(0.92 0.00 286.61);
    --input: oklch(0.92 0.00 286.61);
    --ring: oklch(0.71 0.01 286.09);
    --chart-1: oklch(0.65 0.22 36.85);
    --chart-2: oklch(0.60 0.11 184.15);
    --chart-3: oklch(0.40 0.07 227.18);
    --chart-4: oklch(0.83 0.17 81.03);
    --chart-5: oklch(0.77 0.17 65.36);
    --sidebar: oklch(0.99 0 0);
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --font-sans: 'Geist', 'Geist Fallback', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: "Geist", "Geist Fallback", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: "Geist Mono", "Geist Mono Fallback", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --radius: 0.625rem;

    --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
    --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
    --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
    --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
    --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
    --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
    --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
    --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);
    --sidebar-background: 0 0% 98%;
  }

  .dark {
    --background: oklch(0.14 0.00 285.86);
    --foreground: oklch(0.99 0 0);
    --card: oklch(0.21 0.01 285.93);
    --card-foreground: oklch(0.99 0 0);
    --popover: oklch(0.21 0.01 285.93);
    --popover-foreground: oklch(0.99 0 0);
    --primary: oklch(0.92 0.00 286.61);
    --primary-foreground: oklch(0.21 0.01 285.93);
    --secondary: oklch(0.27 0.01 286.10);
    --secondary-foreground: oklch(0.99 0 0);
    --muted: oklch(0.27 0.01 286.10);
    --muted-foreground: oklch(0.71 0.01 286.09);
    --accent: oklch(0.27 0.01 286.10);
    --accent-foreground: oklch(0.99 0 0);
    --destructive: oklch(0.70 0.19 22.23);
    --border: oklch(1.00 0 0 / 10%);
    --input: oklch(1.00 0 0 / 15%);
    --ring: oklch(0.55 0.02 285.93);
    --chart-1: oklch(0.49 0.24 264.40);
    --chart-2: oklch(0.70 0.16 160.43);
    --chart-3: oklch(0.77 0.17 65.36);
    --chart-4: oklch(0.62 0.26 305.32);
    --chart-5: oklch(0.64 0.25 16.51);
    --sidebar: oklch(0.21 0.01 285.93);
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
    --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
    --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
    --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
    --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
    --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
    --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
    --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);
    --sidebar-background: 240 5.9% 10%;
  }

  * {
    border-color: var(--border);
  }

  html,
  body,
  #root {
    min-height: 100vh;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
  }

  *:focus-visible {
    outline: 2px solid var(--ring);
    outline-offset: 2px;
  }

  .logo {
    fill: var(--foreground);
  }
}

@layer components {
  .ansi-red {
    color: rgb(239 68 68);
  }

  .ansi-green {
    color: rgb(34 197 94);
  }

  .ansi-yellow {
    color: rgb(234 179 8);
  }

  .ansi-blue {
    color: rgb(59 130 246);
  }

  .ansi-magenta {
    color: rgb(168 85 247);
  }

  .ansi-cyan {
    color: rgb(6 182 212);
  }

  .ansi-white {
    color: rgb(255 255 255);
  }

  .ansi-black {
    color: rgb(0 0 0);
  }

  .ansi-bright-red {
    color: rgb(248 113 113);
  }

  .ansi-bright-green {
    color: rgb(74 222 128);
  }

  .ansi-bright-yellow {
    color: rgb(250 204 21);
  }

  .ansi-bright-blue {
    color: rgb(96 165 250);
  }

  .ansi-bright-magenta {
    color: rgb(192 132 252);
  }

  .ansi-bright-cyan {
    color: rgb(34 211 238);
  }

  .ansi-bright-white {
    color: rgb(229 231 235);
  }

  .ansi-bright-black {
    color: rgb(55 65 81);
  }

  .ansi-bold {
    font-weight: 700;
  }

  .ansi-italic {
    font-style: italic;
  }

  .ansi-underline {
    text-decoration: underline;
  }
}

@layer base {
  .wysiwyg h1 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
  }

  .wysiwyg h2 {
    line-height: 1.5rem;
    font-weight: 500;
  }

  .wysiwyg ul {
    list-style-type: disc;
    list-style-position: outside;
    padding-inline-start: 1.5rem;
  }

  .wysiwyg ul > * + * {
    margin-top: 0.25rem;
  }

  .wysiwyg ol {
    list-style-type: decimal;
    list-style-position: outside;
    padding-inline-start: 1.5rem;
  }

  .wysiwyg ol > * + * {
    margin-top: 0.25rem;
  }

  .wysiwyg li {
    line-height: 1.5rem;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
